Xft.dpi: 96
!Xft.dpi: 141
Xft.antialias: 1
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.rgba: rgb
Xft.hinting: 1
Xft.hintstyle:  hintslight

Xcursor.theme: Adwaita

XTerm*faceName: Input:size=10

XTerm*geometry: 80x24

*background: #ebdbb2
*foreground: #282828
! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------
! hard contrast: *background: #1d2021
XTerm*background: #282828
!*background: #32302f
! soft contrast: *background: #32302f
XTerm*foreground: #ebdbb2
! Black + DarkGrey
XTerm*color0:  #282828
XTerm*color8:  #928374
! DarkRed + Red
XTerm*color1:  #cc241d
XTerm*color9:  #fb4934
! DarkGreen + Green
XTerm*color2:  #98971a
XTerm*color10: #b8bb26
! DarkYellow + Yellow
XTerm*color3:  #d79921
XTerm*color11: #fabd2f
! DarkBlue + Blue
XTerm*color4:  #458588
XTerm*color12: #83a598
! DarkMagenta + Magenta
XTerm*color5:  #b16286
XTerm*color13: #d3869b
! DarkCyan + Cyan
XTerm*color6:  #689d6a
XTerm*color14: #8ec07c
! LightGrey + White
XTerm*color7:  #a89984
XTerm*color15: #ebdbb2

!! -----------------------------------------------------------------------------
!! File: gruvbox-light.xresources
!! Description: Retro groove colorscheme generalized
!! Author: morhetz <morhetz@gmail.com>
!! Source: https://github.com/morhetz/gruvbox-generalized
!! Last Modified: 6 Sep 2014
!! -----------------------------------------------------------------------------
!! hard contrast: *background: #f9f5d7
!*background: #fbf1c7
!! soft contrast: *background: #f2e5bc
!*foreground: #3c3836
!! Black + DarkGrey
!*color0:  #fdf4c1
!*color8:  #928374
!! DarkRed + Red
!*color1:  #cc241d
!*color9:  #9d0006
!! DarkGreen + Green
!*color2:  #98971a
!*color10: #79740e
!! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #b57614
!! DarkBlue + Blue
!*color4:  #458588
!*color12: #076678
!! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #8f3f71
!! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #427b58
!! LightGrey + White
!*color7:  #7c6f64
!*color15: #3c3836

rofi.modi:                           window,run,drun,ssh
rofi.opacity:                        100
rofi.width:                          100
rofi.lines:                          15
rofi.columns:                        1
!rofi.font:                           DejaVu Sans Mono 14
rofi.font:                           Input 12
!rofi.fg:                             #ebeae5
!rofi.bg:                             #050709
rofi.color-enabled:                  true

!!Ceti 2
!!State:                             'bg',   'fg',  'bgalt','hlbg', 'hlfg'
!rofi.color-normal:                   #343a41,#ffffff,#393f47,#4F86B3,#ffffff
!rofi.color-urgent:                   #343a41,#dc322f,#393f47,#dc322f,#ffffff
!rofi.color-active:                   #343a41,#c2cad0,#393f47,#4F86B3,#c2cad0
!!                                    'background', 'border'
!rofi.color-window:                   #343a41,#32383F

!Vertex
!State:                             'bg',   'fg',  'bgalt','hlbg', 'hlfg'
rofi.color-normal:                   #404142,#ffffff,#454649,#3d70d0,#ffffff
rofi.color-urgent:                   #404142,#dc322f,#454649,#3d70d0,#dc322f
rofi.color-active:                   #404142,#c2cad0,#454649,#3d70d0,#c2cad0
!                                    'background', 'border'
rofi.color-window:                   #404142,#070504

!!!Arc
!!State:                             'bg',   'fg',  'bgalt','hlbg', 'hlfg'
!rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
!rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
!rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
!!                                    'background', 'border'
!rofi.color-window:                   #ffffff,#f5f5f5

! ------------------------------------------------------------------------------
! Gruvbox
! ------------------------------------------------------------------------------
!rofi.color-window: #282828, #282828, #32302f
!rofi.color-normal: #282828, #ebdbb2, #32302f, #ebdbb2, #282828
!rofi.color-active: #282828, #83a598, #32302f, #83a598, #282828
!rofi.color-urgent: #282828, #fb4934, #32302f, #fb4934, #282828

rofi.bw:                             2
rofi.location:                       2
rofi.padding:                        5
rofi.yoffset:                        25
rofi.xoffset:                        0
rofi.fixed-num-lines:                false
rofi.terminal:                       /usr/bin/gnome-terminal
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.run-command:                    {cmd}
rofi.run-list-command:               
rofi.run-shell-command:              {terminal} -e "{cmd}"
rofi.disable-history:                false
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.sidebar-mode:                   true
rofi.lazy-filter-limit:              5000
rofi.eh:                             1
rofi.auto-select:                    false
rofi.parse-hosts:                    false
rofi.combi-modi:                     window,run
rofi.fuzzy:                          true
rofi.m:                              0
rofi.line-margin:                    3
rofi.separator-style:                dash
rofi.hide-scrollbar:                 false
rofi.pid:                            /run/user/1000/rofi.pid
rofi.threads:                        0
